@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('img/img5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: red;
    font-size: xx-large;
    font-weight: 1000;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #2528d6;
    color: rgb(232, 240, 241);
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.btn.btn-primary {
    background-color: transparent;
    color: rgb(179, 7, 7);
    font-weight: 1000;
    font-size: 12px;
    border: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.login_btn {
    margin-top: 20px;
    color: white;
    background-color: #2528d6;
    width: 150px;
    text-align: center;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
    color: rgb(10, 10, 180);
}

.checkb {

    color: rgb(10, 10, 180);
}